ion-slide{
display: block;
}

img {
  max-height: 400px;
}

.slide-img-padding{
  padding: 30px;
}
h3{
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 40px;
}

.btn-primary{
  height: 60px;
}

ion-slides {
  --bullet-background: grey;
  --bullet-background-active: #8890B2;
}

@media screen and (max-height: 775px){
  img {
    width: 70%;
  }
}

ion-label{
  font-size: 13px;
}